<h2> <%= @language.lang_name %> Page </h2>

<h3 id='hi'>The language you selected was <%= @language.lang_name %></h3>
<h3 id='hi'>History:
  <li> <%= @language.history %> </li> </h3>
<h3 id='hi'>Description:
  <li> <%= @language.description %> </li> </h3>
<h3 id='hi'>Average Salary (est. 2016): $<%= @language.average_salary %> </h3>
<h3 id='hi'>Jobs Available (est. 2016): <%= @language.jobs_available %> </h3>

<h6>Resources to learn this language:  </h6>
<ul>
  <% if @language.video %>
  <li>Video: <a href="<%= @language.video %>" target="_blank"> <%= @language.lang_name %> tutorial video </a> </li> <br>
  <% end %>
  <% if @language.blog && @language.lang_name != "SQL" %>
  <li>Blog: <a href="<%= @language.blog %>" target="_blank"> <%= @language.lang_name %> Blogs </a> </li> <br>
  <% end %>
  <% if @language.course %>
  <li>Course: <a href="<%= @language.course %>" target="_blank"> <%= @language.lang_name %> Course </a> </li> <br>
  <% end %>
  <% if @language.book %>
  <li>Book: <a href="<%= @language.book %>" target="_blank">Book for <%= @language.lang_name %></a> </li> <br>
  <% end %>
  <% if @language.school != nil %>
  <li>School: <a href="<%= @language.school %>" target="_blank">School to learn <%= @language.lang_name %></a> </li>
  <% end %>
</ul>


<div>
<%= link_to "All languages", languages_path %> |
<%= link_to "Back to profile", current_user %>
</div>

<style>
  h2 {
    font-size: 35px;
    color: red;
    font-style: italic;
  }

  body {
    background-image: url("http://kb4images.com/images/plain-background-images/36161486-plain-background-images.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    html {
      height: 140%;
    }

  ul {
    font-weight: bold;
    font-size: 22px;
  }

  div {
    font-size: 22px;
    font-weight: bold;
  }

  h5 {
    font-size: 22px;
    background-color: rgba(135, 135, 135, 0.7);
  }
  #hi  {
    font-size: 20px;
    color: rgba(100, 100, 0, 1);
    background-color: rgba(135, 135, 135, 0.4);
  }

  h6 {
      background-color: rgba(135, 135, 135, 0.7);
    }

</style>
